
<header>
  <%= link_to root_path, class: "logo-link" do %>
    <div class="logo"></div>
  <% end %>

  <nav>
    <ul>
      <% unless user_signed_in? %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>

      <% if user_signed_in? && current_user.is_admin? %>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'New Post', new_post_path, class: 'new-post-link' %></li>
      <% end %>


      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Shop', shop_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>

 <!-- Subscribe Button -->
<button id="subscribeBtn" class="btn-subscribe">SUBSCRIBE</button>

<!-- Subscription Modal (initially hidden) -->
<div id="subscriptionModal" class="modal">
  <div class="modal-content">
   <span class="close">&times;</span>
    <h4>Subscribe to Our Newsletter</h4>
    <p>Enter your email to stay updated:</p>
    <input type="email" id="subscriptionEmail" placeholder="Email address">
    <button id="confirmSubscription" class="btn-confirm">Confirm Subscription</button>
  </div>
</div>
  <% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'Manage Posts', manage_posts_path, class: 'new-post-link' %>
<% end %>

  <div class="search">
    <input type="search" placeholder="Search...">
    <button><i class="fa fa-search"></i></button>
  </div>
</header>
